[workspace.package]
description = "A simple tool for creating modern online books in pure typst."
authors = ["typst-book Developers"]
version = "0.1.0"
edition = "2021"
readme = "README.md"
license = "Apache-2.0"
homepage = "https://github.com/Myriad-Dreamin/typst-book"
repository = "https://github.com/Myriad-Dreamin/typst-book"


[workspace]
resolver = "2"
members = ["cli", "tools/build-from-source"]

[profile.release]
debug = true

[profile.release-stripped]
inherits = "release"
debug = false
strip = true

[workspace.dependencies]

typst = "0.7.0"
typst-library = "0.7.0"
typst-ts-svg-exporter = "0.3"
typst-ts-core = "0.3"
typst-ts-compiler = "0.3"

handlebars = "4.3"

# general
anyhow = "1"
tokio = { version = "1.28.1", features = ["full"] }

# cryptography and processing
serde = "1.0.164"
serde_json = "1.0.96"
toml = "0.7.5"

# web
warp = { version = "0.3", features = ["compression"] }

# cli
clap = { version = "4.3", features = ["derive", "env", "unicode", "wrap_help"] }
clap_complete = "4.3"
clap_complete_fig = "4.3"

# logging and tracing
env_logger = "0.10.0"
log = "0.4.17"

# misc
vergen = { version = "7.5.1", features = ["build", "cargo", "git", "rustc"] }
include_dir = "0.7.3"

[patch.crates-io]
typst = { git = "https://github.com/Myriad-Dreamin/typst.git", branch = "typst.ts" }
typst-library = { git = "https://github.com/Myriad-Dreamin/typst.git", branch = "typst.ts" }
typst-ts-svg-exporter = { git = "https://github.com/Myriad-Dreamin/typst.ts", rev = "7e55c0296d6bdf57a2df2b5fa10897b20825ddc7", package = "typst-ts-svg-exporter" }
typst-ts-core = { git = "https://github.com/Myriad-Dreamin/typst.ts", rev = "7e55c0296d6bdf57a2df2b5fa10897b20825ddc7", package = "typst-ts-core" }
typst-ts-compiler = { git = "https://github.com/Myriad-Dreamin/typst.ts", rev = "7e55c0296d6bdf57a2df2b5fa10897b20825ddc7", package = "typst-ts-compiler" }

# typst = { path = "../typst/crates/typst" }
# typst-library = { path = "../typst/crates/typst-library" }
# typst-ts-svg-exporter = { path = "../typst.ts/exporter/svg" }
# typst-ts-compiler = { path = "../typst.ts/compiler" }
# typst-ts-core = { path = "../typst.ts/core" }
