name: shiroa::ci
on: [push, pull_request]

env:
  RUSTFLAGS: '-Dwarnings'

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Download Repo
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
      - name: Install Artifact Cache
        uses: Swatinem/rust-cache@v2
      - name: Fmt check
        run: cargo fmt --check --all
      - name: Clippy check
        run: cargo clippy --workspace --all-targets
      - name: Documentation check
        run: cargo doc --workspace --no-deps
      - name: Build
        run: |
          cargo build --release --workspace
      - name: Build Book
        run: |
          cargo run --release --bin shiroa -- build --path-to-root /shiroa/ -w . github-pages/docs
      - name: Build Book (HTML Target)
        run: |
          cargo run --release --bin shiroa -- build --path-to-root /shiroa/ -w . github-pages/docs --mode static-html
      - name: Test
        run: cargo test --workspace --no-fail-fast
